body{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(120deg,#cc2b5e, #753a88);
  height:100vh;
  /*overflow: hidden;*/
}
.loginbox{
  width: 320px;
  height: 430px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 5%;
  /*padding: 70px 30px;*/
  padding: 0px 30px;
}
.title{
  font-size: 48px;
  padding: 0px 10px;
  font-weight: bold;
  font-style: italic;
  font-family: serif;
}
.avatar{
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: -50px;
  left: calc(50% - 50px);
}
h1{
  margin: 0;
  padding:0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="email"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #cc2b5e;
  color: #000;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
  cursor: pointer;
  background: #ef629f;
  color: #000;
}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover{
  color: #fff;
}
